<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="bodyHeader">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a th:href="@{/}" class="navbar-brand" th:text="#{title}">블로그명</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

