<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="layout/header :: common_header(~{::title})">-->
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>스프링 부트 웹 서비스 - HOME</title>
</head>
<body>
<div class="container">
    <h1>스프링 부트로 시작하는 웹 서비스</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                <a href="/posts" role="button" class="btn btn-primary">글 목록</a>
            </div>
        </div>
    </div>
    <th:block th:replace="~{layout/footer :: footer}"></th:block>
</div>
</body>
</html>